@import '../../common/variables.scss';

.header {
  @include text-body-medium();
  position: relative;
  color: $text-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.header__nav {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto;
  transition: all 0.4s ease-out;

  @media (max-width: $tablet-width) {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: $background-body;
    padding: 60px 40px;
    top: 65px;
    align-items: center;
    right: -100%;
    gap: 84px;

    transition: all 0.4s ease-out;
  }

  &.active {
    display: flex;
    right: 0;
  }
}

.header__logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
}

.header__logo-img {
  object-fit: contain;
}

.header__nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  gap: 40px;
  padding: 0;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

.header__nav-item {
  cursor: pointer;
  @include text-link-button();

  @media (max-width: $tablet-width) {
    align-self: center;
  }
}

.header__nav-link {
  position: relative;
  @include line();

  @media (max-width: $tablet-width) {
    @include text-burger-link();

    &:after {
      height: 0;
    }
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 8px;
  cursor: pointer;
  position: relative;

  @include text-link-button();
  @include line();

  &::after {
    bottom: 13px;
  }

  @media (max-width: $tablet-width) {
    @include text-burger-link();
    &::after {
      height: 0;
    }
  }
}

.header__menu-icon-desc {
  @media (max-width: $tablet-width) {
    @include visually-hidden();
  }
}

.header__menu-icon-mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.header__menu-active {
  cursor: default;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 13px;
    width: 100%;
    height: 2px;
    background-color: $text-dark;
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    &::after {
      height: 0;
    }
  }
}

.header__burger {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $border-dark;
  flex-direction: column;
  gap: 5px;
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.header__burger-line {
  display: block;
  position: relative;
  height: 1px;
  width: 16px;
  transition: transform 0.4s ease;
  background-color: $text-dark;
}

.header__burger.active .header__burger-line--one {
  transform: rotate(45deg);
  width: 20px;
  top: 3px;
}

.header__burger.active .header__burger-line--two {
  transform: rotate(-45deg);
  width: 20px;
  bottom: 3px;
}
