@import '../../common/variables.scss';

.catalog {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }

  @media (max-width: 500px) {
    gap: 26px;
  }
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 32px;
  padding: 0;
  justify-content: center;
  transition: opacity 0.35s ease-in-out;

  @media (max-width: $tablet-width) {
    margin-top: 12px;

    & li:nth-child(n + 5) {
      display: none;
      opacity: 0;
      transition: opacity 0.35s ease-in-out;
    }
  }
}

.catalog__item {
  width: 310px;
  border-radius: 40px;
  border: 1px solid $border-light;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;

  @media (hover: hover) {
    &:hover .catalog__item-img {
      transform: scale(1.03);
    }
  }
}

.catalog__item-img-container {
  border-radius: 40px;
  overflow: hidden;
}

.catalog__item-img {
  object-fit: cover;
  transform: scale(1.06);
  transition: all 0.5s ease-in-out;

  @media (any-pointer: coarse) {
    transform: scale(1);
  }
}

.catalog__item-info {
  padding: 20px;
  display: grid;
  row-gap: 12px;
  min-height: 196px;
  grid-template-rows: auto 1fr auto;
  grid-auto-rows: auto;
  color: $text-dark;
}

.catalog__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  grid-row: 1;
}

.catalog__item-description {
  @include text-body-medium();
  grid-row: 2;
}

.catalog__item-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  grid-row: 3;
  align-self: end;
}

.catalog__refresh {
  display: none;
  transition: opacity 0.35s ease-in-out;

  @media (max-width: $tablet-width) {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid $border-dark;
    justify-content: center;
    align-items: center;
  }
}
